* {
  margin: 0;

  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: aqua;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.logo img {
  height: 60px;
  margin: 10px;
}
.list a {
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 700;
  color: darkgray;
}
span:hover {
  color: rgba(49, 15, 201, 0.89);
}
.list a:hover {
  color: lightslategray;
}

/* Home Section */
.home {
  background: url(images/coding-person.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: tomato;
  font-family: "Monserrat" sans-serif;
  height: 90vh;
  min-height: 500px;
  max-height: 720;
}
.max-width {
  height: 100%;
  height: 100%;
}
.home-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .home-content .text1 {
  font-size: 3rem;
}
.home .home-content .text2 {
  font-size: 6rem;
  font-weight: 500;
}
.home .home-content .text3 {
  font-size: 3rem;
}
.home .home-content button {
  background-color: tomato;
  border-radius: 20px;
  border-style: none;
  font-size: 24px;
  margin-top: 15px;
  margin-left: 5px;
  color: white;
  display: inline-block;
  height: 50px;
  width: 180px;
  transition: all 0.5s ease-in-out;
}
.home .home-content button:hover {
  background-color: turquoise;
  color: darkslategray;
}
.home .home-content {
  transition: all 0.5 ease;
}
.home .home-content a {
  transition: all 0.5s ease;
}

/* About Section */
.About {
  background: url(images/banner-5.jpg) repeat center;
  background-size: cover;
  background-attachment: scroll;
  height: 90vh;
  min-height: 500px;
  max-height: 720;
}

.About .title {
  text-align: center;
  font-size: 2rem;
  margin-top: 30px;
}
.About-Content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.About-Content .colum-left {
  width: 30%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.colum-left img {
  width: 300px;
  height: 300px;
  object-fit: fill;
  border: groove #91ddcf;
  border-radius: 150px;
  border-width: 5px;
}
.About-Content .colum-right {
  width: 70%;
}
.colum-right .sub-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding-left: 20px;
}
.About-Content .colum-right .authors-info {
  font-size: 1.3rem;
  text-align: justify;
  line-height: 1.3em;
  padding: 20px;
}
/* Services Section */
section {
  padding: 100px 0;
}

.services {
  color: black;
  background: url(images/HD-wallpaper-best.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  min-height: 500px;
  max-height: 720;
}

.services .title {
  font-family: "Monserrat";
  color: white;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2em;
}
.services .services-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.services .services-content .card {
  display: flex;
  justify-content: center;
  width: 32%;

  background: white;
  border-radius: 6px;
  padding: 50px 10px;
}

.services .services-content .card .box {
  text-align: center;
  width: 85%;
}
.services .services-content .card:hover {
  background: turquoise;
}
.services .services-content .card .box {
  transition: all 0.3 ease-out;
}
.services .services-content .card .box:hover {
  transform: scale(1.07);
}
.services .services-content .card img {
  height: 60px;
  width: 60px;
}
.services .services-content .text {
  font-family: "Monserrat";
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: 600;
}
.services .services-content p {
  font-family: "Monserrat";
  font-size: 1rem;
}

/* Skills Section */
.skills {
  font-family: "Monserrat";
  font-size: 1.1rem;
  background: url(images/banner-3.jpg) repeat center;
  background-size: cover;
  background-attachment: scroll;
  height: 90vh;
  min-height: 500px;
  max-height: 720;
}
.skills .title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 50px;
}
.skills .skills-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .column {
  width: 50%;
  padding: 30px;
}
.skills .skills-content .left .text {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: justify;
}
.skills .skills-content .left p {
  text-align: justify;
  font-size: 1.3rem;
  line-height: 1.3em;
}
.skills .skills-content .left a {
  display: inline-block;
  background: tomato;
  color: white;
  font-size: 1.3rem;
  padding: 12px 36px;
  margin-top: 30px;
  border-radius: 20px;
  text-decoration: none;
}
.skills .skills-content .left a:hover {
  background-color: turquoise;
  color: white;
}
/* column right */
.skills .skills-content .right .bar {
  margin-bottom: 15px;
}
.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right .info span:hover {
  color: turquoise;
}

.skills .skills-content .right span {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 5px;
}
.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background-color: lightslategray;
  position: relative;
}
.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  background-color: tomato;
}
.skills-content .right .html::before {
  width: 90%;
}
.skills-content .right .css::before {
  width: 85%;
}
.skills-content .right .js::before {
  width: 82%;
}
.skills-content .right .php::before {
  width: 80%;
}
.skills-content .right .mysql::before {
  width: 80%;
}

/* Contact Section */
.contact {
  font-family: "Monserrat";
  background: url(images/banner-4.jpg) repeat center;
  height: 90vh;
  min-height: 500px;
  max-height: 720px;
  background-size: cover;
  background-attachment: scroll;
}
.title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 50px;
}
.contact .contacts-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.contact .contacts-content .column {
  width: calc(50% - 30px);
  padding: 20px;
}

.contact .contacts-content .column .text {
  font-size: 1.5rem;
  font-weight: 600;
  color: tomato;
  margin: 10px 0;
}
.contact .contacts-content .left p {
  font-size: 1.5rem;
  text-align: justify;
}
.contact .contacts-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contacts-content .row .info {
  margin-left: 20px;
}
.contact .contacts-content .left img {
  height: 20px;
  width: 20px;
}
.contact .contacts-content .info .head {
  color: tomato;
  font-weight: 600;
  padding: 5px 0;
}
.contact .contacts-content .info .sub-title {
  font-weight: 600;
}

.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields,
.field {
  height: 45px;
  width: 100%;
  margin-bottom: 10px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 5px 15px;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: tomato;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button {
  height: 50px;
  width: 150px;
}
.contact .right form .button button {
  width: 100%;
  height: 100%;
  background: tomato;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
}
.contact .right form .button button:hover {
  color: white;
  background: turquoise;
}

/* footer section */
footer {
  font-family: "Monserrat", sans-serif;
  text-align: center;
  background: rgba(49, 15, 201, 0.89);
  color: rgb(255, 255, 255);
  padding: 30px;
}

footer span a {
  text-decoration: none;
  color: tomato;
}
footer span a:hover {
  text-decoration: underline;
}

/* Responsive Media Query */

@media (max-width: 1920px) {
  .home .max-width {
    margin-left: 0px;
  }
}
@media (max-width: 1104px) {
  /* home Section */
  .home {
    display: flex;
    align-items: center;
    padding-bottom: 0px;
  }
  /* .home.max-width{
    height: 100vh;
  } */
  .home.max-width.home-content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .home-content .text-container .text2 {
    font-size: 3.5rem;
    color: aliceblue;
  }

  /* home Section */
  /* About ection */

  .About {
    height: auto;
    background: white;
    padding: 0px;
  }
  .About .max-width .title {
    padding-bottom: 0;
  }
  .About .About-Content {
    display: flex;
    flex-direction: column;
  }
  .About-Content .colum-left {
    width: 100%;
    padding: 30px;
  }
  .About-Content .colum-left img {
    height: 150px;
    width: 150px;
  }

  .About-Content .colum-right {
    width: auto;
    text-align: center;
  }

  /* Services Section */
  .services {
    height: auto;
    background: url(images/HD-wallpaper-best.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }
  .services .services-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
  }
  .services .services-content .card {
    display: flex;
    justify-content: center;
    flex: 0;
    width: 350px;

    border-radius: 6px;
    padding: 50px 10px;
  }
  /* kills Section */
  .skills {
    height: auto;
  }
  .skills .skills-content {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .skills .skills-content .column {
    flex: none;
    width: 100%;
    height: 100%;
  }
  /* Contact Section */

  .contact .contacts-content {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: "Monserrat";
    background: url(images/banner-4.jpg) repeat center;
    background-size: cover;
    background-attachment: scroll;
  }
  .contact .contacts-content .column {
    flex: 0;
    width: 450px;
  }

  footer {
    margin-top: 400px;
  }
}
